{% extends 'todos/base.html' %}

{% block title %}
<title>Todo list</title>
{% endblock %}

{% block content %}
<div class="container">

  <!-- title row -->
  <div class="row">
    <div class="offset-md-2 col-lg-9">
      <div class="page-header">
        <h1>
          My Tasks
        </h1>
      </div>
    </div>
  </div>

  <!-- Add a todo row -->
  <div class="row">
    <div class="offset-md-2 col-lg-9">
      <form method="post" action="{% url 'todos:add' %}">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6">
            <input type="text" class="form-control" name="title" placeholder="Do laundry" required>
          </div>
          <div class="col-md-6">
            <button type="submit" name="submit" class="btn btn-outline-primary">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />

  <!-- todo list row -->
  <div class="row">
    <div class="offset-md-2 col-lg-6">
      <div class="list-group">
        {% for todo in todo_list %}
        <div class="list-group-item {% if todo.isCompleted %} todo-complete {% endif %}">
          <form style="display: inline;" method="post" action="{% url 'todos:update' todo.id %}">
            {% csrf_token %}
            <input type="checkbox" name="isCompleted" onchange="this.form.submit()" {% if todo.isCompleted %} checked
              {% endif %} class="todo-status-checkbox"
              title="{% if not todo.isCompleted %} mark as done {% else %} mark undone {% endif %}">
          </form>
          {{ todo.title }}
          <a href="{% url 'todos:delete' todo.id %}" title="Delete">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container">

<!-- title row -->
<div class="row">
  <div class="offset-md-2 col-lg-9">
    <div class="page-header">
      <h1>
        My Events
      </h1>
    </div>
  </div>
</div>

<!-- Add a todo row -->
<div class="row">
  <div class="offset-md-2 col-lg-9">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEventModal">
      Add Event
    </button>
  </div>
</div>
<hr />

<!-- event list row -->
<div class="row">
  <div class="offset-md-2 col-lg-6">
    <div class="list-group">
      {% for event in event_list %}
        <div class="list-group-item">
          <h5 class="mb-1">{{ event.event_name }}</h5>
          <p class="mb-1">{{ event.description }}</p>
          <small class="text-muted">{{ event.event_date }}</small>
          <form method="POST" action="{% url 'todos:deleteEvent' event.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn far fa-trash-alt"></button>
          </form>
        </div>
      {% empty %}
        <p>No events available.</p>
      {% endfor %}
    </div>
  </div>
</div>
<div class="footer">
  Adapted from <a href="https://github.com/shreys7/django-todo">shrey7's boilerplate project</a> since I currently have no access to the class repo.<br>
  Had to add a lot of code to get it to work, especially since there's an event class that was added.<br>
  Modals are completely new, as well as the Events list.<br>
  <a href="https://www.linkedin.com/in/kent-bacatan-aa038a1b5/">Kent Bacatan</a>
</div>

{% include 'todos/modal.html' %}
{% endblock %}