<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEventModalLabel">Add Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'todos:addEvent' %}" id="eventForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_event_name">Event Name</label>
              <input type="text" class="form-control" id="id_event_name" name="event_name" required>
            </div>
            <div class="form-group">
              <label for="id_description">Description</label>
              <textarea class="form-control" id="id_description" name="description" rows="3" required></textarea>
            </div>
            <div class="form-group">
              <label for="id_status">Status</label>
              <input type="text" class="form-control" id="id_status" name="status" required>
            </div>
            <div class="form-group">
              <label for="id_event_date">Event Date</label>
              <input type="date" class="form-control" id="id_event_date" name="event_date" required>
            </div>
            <input type="hidden" value="{{ request.user.id }}" name="user">
            <input type="submit" class="btn btn-primary" value="Save">
          </form>
        </div>
      </div>
    </div>
  </div>